.chat-area-wrapper {
flex-grow: 1;
overflow: hidden; /* Prevent wrapper from growing /
display: flex;
flex-direction: column;
padding-bottom: 8px; / Space above the input box */
}

.chat-area {
flex-grow: 1;
overflow-y: auto; /* Allow only this area to scroll /
display: flex;
flex-direction: column; / New messages at the bottom /
gap: 8px;
padding: 8px;
direction: ltr; / Ensure content inside is LTR */
}

.chat-message {
background-color: #3b4d5b;
border-radius: 12px;
padding: 8px 12px;
max-width: 80%;
align-self: flex-start; /* Align messages to the start (left) /
word-break: break-word;
transition: opacity 3s ease-out; / 3-second fade-out transition */

// Style for dark mode messages
body[data-mui-color-scheme='dark'] & {
background-color: #334155; // A dark, muted blue
}

&.admin-message {
color: #c62828;
background-color: #ffcdd2;
border: 1px solid #ef9a9a;

body[data-mui-color-scheme='dark'] & {
    background-color: #5c2121;
    color: #ffcdd2;
    border-color: #c62828;
}


}
}
.pinned-message::before {
  content: '📍';
  margin-left: 0.2rem;
  display: inline;
}
.pinned-message {
  display: inline-flex !important;
  background-color: #ffebf3;
  border: 1px solid #d2a27a;
  border-radius: 12px;
  padding: 12px;
  color: #e72e2e;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 8px;
  margin-right: 8px;

  body[data-mui-color-scheme='dark'] & {
    background-color: #4d441e;
    border-color: #a1883b;
    color: #fff; /* Explicitly set light text color */
    strong {
      color: #ffeb3b; /* Brighter yellow for "הודעה נעוצה" */
    }
  }
}

