.admin-row {
  .MuiTableCell-root {
    color: #c62828;
    font-weight: 500;

    body[data-mui-color-scheme='dark'] & {
      color: #ff8a80;
    }
  }

  background-color: rgba(211, 47, 47, 0.08);

  body[data-mui-color-scheme='dark'] & {
    background-color: rgba(255, 138, 128, 0.15);
  }

  &:hover {
    background-color: rgba(211, 47, 47, 0.15) !important;

    body[data-mui-color-scheme='dark'] & {
      background-color: rgba(255, 138, 128, 0.25) !important;
    }
  }
}
